header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //border-color: white;
    //border-style: dashed;

}

.kontakt-container-flex{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    //border-color: white;
    //border-style: dashed; 
}

.resources-btn {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    //border-color: white;
    //border-style: dashed;

}

.header-odkazy{
    height: 20vh;  
    align-items:flex-end;
}

@media screen and (max-width:575px) {
    header {
        height: 30vh; 
        flex-direction: column;
    }

    .header-odkazy{
        flex-direction: row;
    }
}

@media screen and (max-width:869px) {
    .resources-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //border-color: white;
    //border-style: dashed;
}