footer{
    background-color: rgb(14, 14, 14);
    position: fixed;
    bottom: 0;
    width: 100%;
    //border-style: dashed;
}

.footer-title{
    text-align: center;
    font-size: 1rem;
    color: gray;
}