:root {
    --orange: #ff6a00;
    --orange-darker: #ec5600;
    --gray: #d6d6d6;
    --crimson: #f71846;
    --red: #c52626;
    --blue: #007ed1;
    --blue-darker: #005085;
    --green2: #53b000;
    --green2-darker: #53b000;
    --green: #029500;
    //Social colours
    --discord: #5865f2;
    --instagram1: #cf0057;
    --instagram2: #8a2bc9;
    --instagram3: #f2ae4a;
    --tiktok: #e71c4f;
    --youtube: #f70f17;
    --facebook: #4064ac;
    --twitch: #9046ff;
}
