:root {
    --black: hsl(0, 0%, 8%);
    --dark-gray: hsl(0, 0%, 13%);
    --white: hsl(341, 42%, 87%);
    --gray: hsl(203, 15%, 67%);
    --grayer: hsl(198, 7%, 29%);
    --cards: hsl(315, 5%, 15%);
}
