@use "../util" as *;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
li,
ul,
ol {
    font-family: var(--font-body);
    color: var(--gray);
}

h1 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
    font-size: rem(50);
    @include breakpoint(medium) {
        font-size: rem(75);
    }
}
h2 {
    color: var(--white);
    font-weight: 800;
    font-size: rem(50);
}
h3 {
    color: var(--white);
    font-weight: 500;
    font-size: rem(30);
}
p {
    color: var(--gray);
    font-size: rem(20);
}

a {
    color: var(--gray);
    font-size: medium;
    &:hover,
    active {
        color: var(--white);
    }
}

i {
    color: var(--gray);
    font-size: medium;
    display: block;
}

button {
    cursor: pointer;
    margin-top: rem(25);
    background-color: #f91b48;
    position: relative;
    padding: rem(10) rem(40);
    float: left;
    border-radius: rem(3);
    font-size: rem(20);
    color: #fff;
    text-decoration: none;
    border: none;
    border-bottom: 5px solid #cb173b;
    text-shadow: 0px -2px #d3153b;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;

    &:hover {
        -webkit-transform: translate(0px, 5px);
        -ms-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
        border-bottom: 1px solid #cb173b;
    }

    &:active {
        -webkit-transform: translate(0px, 5px);
        -ms-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
        border-bottom: 1px solid #cb173b;
    }
}
